{block content}
    <h1>Administrace zákazníků</h1>
    <a href="{link 'Customer:add'}"
        class="btn btn-default btn-primary">Přidat zákazníka</a>
    <hr/>
    <h2>Přehled zákazníků</h2>
    {control customerGrid}
{/block}